:root {
  --primary: #89A0C3;
  --primary-rgb: 137, 160, 195;
  --secondary: #636872;
  --grey: #B9BDC6;
  --muted: #E5E5E5;
  --right-spacing: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#app {
}

.header {
  display: table;
  padding: 0 20px;
  position: fixed;
  height: 150px;
  width: 100%;
  top: 0;
}

.header form {
  display: table-cell;
  vertical-align: middle;
}

.content {
  padding: 150px var(--right-spacing) 0;
}

/* Form */

.header form h2 {
  font-weight: 500;
}

.header form p {
  color: var(--grey);
  font-size: 12px;
  margin-bottom: 10px;
}

.header form input[type=text] {
  background-color: var(--muted);
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--secondary);
  float: left;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  padding: 13px;
  width: 80%;
}

.header form input[type=text]::placeholder {
  color: var(--grey);
}

.header form input[type=submit] {
  background-color: var(--secondary);
  border: none; /* Prevent double borders */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  padding: 12px;
  width: 20%;
}

.header form::after {
  content: "";
  clear: both;
  display: table;
}
/* Tasks */

.tasks > .task:not(last-child) {
  margin-bottom: 10px;
}

.task {
  border-radius: 5px;
  box-shadow: 0px 4px 15px rgba(var(--primary-rgb), 0.20);
  display: table;
  min-height: 70px;
  padding: 10px;
  width: 100%;
}

.task > div {
  display: table-cell;
  vertical-align: middle;
}

.task .action .checkbox {
  cursor: pointer;
  display: block;
}

.task .action .checkbox .marker {
  background-color: var(--grey);
  border: 2px solid var(--secondary);
  border-radius: 50%;
  display: block;
  height: 15px;
  width: 15px;
}

.task .action .checkbox input:checked ~ .marker {
  background-color: var(--primary);
}

.task .action .checkbox input {
  display: none;
}

.task .action {
  font-size: 12px;
  text-align: right;
}

.task .action a {
  color: var(--grey);
  text-decoration: none;
}

.task .details {
  padding: 0 10px;
}

.task .details h4 {
  font-size: 18px;
  font-weight: 500;
}

.task .details p {
  color: var(--grey);
  font-size: 12px;
}

/* .task.done */
.task.done {
  background-color: var(--muted);
}

.task.done {
  color: var(--grey);
}

.task.done .action .checkbox input:checked ~ .marker {
  background-color: var(--grey);
  border-color: var(--grey);
}